.main {
  grid-row: 2;
  width: 79%;
  grid-row: 2;
}

.paragraph {
  margin-bottom: 6.4rem;
  width: 50%;
  font-weight: 200;
}

.headingContainer {
  background-color: #cfd3cf;
  min-height: calc(100vh - 17.9rem);
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 8.8rem 11.9rem;
}

.bookList {
  font-family: 'Libre Baskerville', serif;
  font-size: 2.4rem;
  line-height: 3.2rem;
  font-weight: 400;
  margin-bottom: 2.4rem;
}

.bookList:hover {
  color: #869986;
  transition: 0.2s all ease-in-out;
}

/* PHONE */
@media only screen and (max-width: 375px) {
  .main {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .headingContainer {
    background-color: #cfd3cf;
    min-height: min-content;
    position: relative;
    display: flex;
    padding: 1.6rem;
  }

  .paragraph {
    margin-bottom: 2.4rem;
    width: 100%;
    font-weight: 200;
  }

  .bookList {
    font-family: 'Libre Baskerville', serif;
    font-size: 1.6rem;
    line-height: 2.4rem;
    font-weight: 400;
    z-index: 4;
  }
}
