.container {
  font-size: 1.2rem;
  line-height: 2rem;
  margin-bottom: 2.4rem;
  display: none;
}

.dash {
  margin: 0 0.8rem;
}

.span {
  text-transform: capitalize;
}

.detail {
  font-weight: 900;
  text-transform: capitalize;
}

@media only screen and (max-width: 375px) {
  .container {
    display: block;
  }
}
