.main {
  grid-row: 2;
  width: 79%;
}

.headingContainer {
  background-color: #cfd3cf;
  min-height: calc(100vh - 17.9rem);
  position: relative;
  display: flex;
}

.h1 {
  padding: 8.8rem 11.9rem;
  font-family: 'Libre Baskerville', serif;
  font-size: 5.6rem;
  line-height: 7.2rem;
  font-weight: 400;
  z-index: 4;
}

.mainBackground {
  background-color: #cfd3cf;
  height: 100%;
  width: 100%;
  z-index: 1;
  position: absolute;
  top: 0;
}

.pageLinks {
  font-size: 1.2rem;
  line-height: 2rem;
  font-weight: 400;
  display: inline-block;
  position: relative;
  padding-bottom: 4px;
  text-decoration: none;
}

.pageLinks:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.pageLinks:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #869986;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

/* SIDEBAR CSS */

.sidebar {
  width: calc(20vw - 2.4rem);
  position: fixed;
  grid-row: 2;
  right: 2.4rem;
  top: 18.4rem;
}

.wrapper {
  margin-bottom: 2.4rem;
}

.h2 {
  font-size: 1.6rem;
  line-height: 2.4rem;
  font-weight: 600;
  text-transform: capitalize;
  margin-bottom: -0.8rem;
}

.button {
  margin-bottom: 11.2rem;
  padding: 1.6rem 2.4rem;
  outline: none;
  min-width: 140px;
  border-style: solid 2px black;
  border-radius: 0;
  background-color: transparent;
  text-transform: capitalize;
  font-weight: 300;
}

.button:hover {
  cursor: pointer;
  background-color: #cfd3cf;
  transition: all 0.2s ease-in-out;
}

.button:active {
  border-style: outset;
}

.buttonMobile {
  display: none;
}

.text {
  font-size: 1.6rem;
  line-height: 2.4rem;
  font-weight: 200;
}

/* PHONE */
@media only screen and (max-width: 375px) {
  .main {
    width: 100%;
    display: flex;
    flex-direction: column;
    grid-row: unset;
  }

  .headingContainer {
    background-color: #cfd3cf;
    min-height: min-content;
    position: relative;
    display: flex;
  }

  .h1 {
    padding: 1.6rem;
    font-family: 'Libre Baskerville', serif;
    font-size: 3.2rem;
    line-height: 4.8rem;
    font-weight: 400;
    z-index: 4;
  }

  .sidebar {
    width: 100%;
    position: unset;
  }

  .button {
    margin-bottom: 1.6rem;
    margin-top: 1.6rem;
    padding: 1.6rem 2.4rem;
    outline: none;
    width: 100%;
    min-width: 140px;
    border-style: solid 2px black;
    border-radius: 0;
    background-color: transparent;
    text-transform: capitalize;
    font-weight: 300;
  }
}
