.header {
  margin: 8.8rem 0 6.4rem 0;
  width: 80%;
  grid-row: 1;
  display: flex;
  justify-content: space-between;
}

.logo {
  font-size: 2.4rem;
  line-height: 3.2rem;
  font-weight: 700;
  padding-left: 11.9rem;
  text-transform: capitalize;
}

.link {
  font-size: 1.6rem;
  line-height: 2.4rem;
  text-transform: capitalize;
}
