.header {
  margin: 8.8rem 0 6.4rem 0;
  width: 80%;
  grid-row: 1;
  display: flex;
  justify-content: space-between;
}

.logo {
  font-size: 2.4rem;
  line-height: 3.2rem;
  font-weight: 700;
  padding-left: 11.9rem;
  text-transform: capitalize;
}

.link {
  font-size: 1.6rem;
  line-height: 2.4rem;
  text-transform: capitalize;
}

.main {
  grid-row: 2;
  width: 80%;
  grid-row: 2;
}

.headingContainer {
  background-color: #cfd3cf;
  min-height: calc(100vh - 17.9rem);
  position: relative;
  display: flex;
}

.animationWipe {
  animation: wipe 2 1s 0.5s alternate cubic-bezier(0.28, 0.12, 0.44, 0.8);
}

.animationSwipe {
  animation: swipe 2 1s 0.5s alternate cubic-bezier(0.28, 0.12, 0.44, 0.8);
}

.animationDissolve {
  animation: dissolve 2 1.5s alternate cubic-bezier(0.28, 0.12, 0.44, 0.8);
}

.animationDissolveAgain {
  animation: dissolveRepeat 2 1.5s alternate cubic-bezier(0.28, 0.12, 0.44, 0.8);
}

@keyframes wipe {
  0% {
    clip-path: inset(0);
  }
  100% {
    clip-path: inset(0 100% 0 0);
  }
}

@keyframes swipe {
  0% {
    clip-path: inset(0);
  }
  100% {
    clip-path: inset(0 100% 0 0);
  }
}

@keyframes dissolve {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes dissolveRepeat {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.h1 {
  padding: 8.8rem 11.9rem;
  font-family: 'Libre Baskerville', serif;
  font-size: 5.6rem;
  line-height: 7.2rem;
  font-weight: 400;
  z-index: 4;
}

.mainBackground {
  background-color: #cfd3cf;
  height: 100%;
  width: 100%;
  z-index: 1;
  position: absolute;
  top: 0;
}

.h2 {
  font-size: 1.6rem;
  line-height: 2.4rem;
  font-weight: 600;
  text-transform: capitalize;
  margin-bottom: -0.8rem;
}

.wrapper {
  margin-bottom: 2.4rem;
}

.sidebar {
  width: calc(20vw - 2.4rem);
  position: fixed;
  grid-row: 2;
  right: 2.4rem;
  top: 18.4rem;
}

.button {
  margin-bottom: 11.2rem;
  padding: 1.6rem 2.4rem;
  outline: none;
  border-style: solid 2px #cfd3cf;
  border-radius: 0;
  background-color: transparent;
  font-weight: bold;
}

.button:active {
  border-style: outset;
}

.text {
  font-size: 1.6rem;
  line-height: 2.4rem;
  font-weight: 400;
}

.footer {
  margin-top: 11.2rem;
  grid-column: 10 / span 1;
  font-size: 1.2rem;
  line-height: 2rem;
  font-weight: 400;
  text-transform: capitalize;
}
